/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2019, 8:37:51 PM
    Author     : abdul
*/

.table-view, .tree-table-view {
    
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; 
    -fx-background-color: transparent;
}


.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 65;
    -fx-border-style: null;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 40px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}
.table-row-cell:odd{
    
/*    -fx-background-color: #ff9999;
     -fx-background-color:#ff4d4d;
    -fx-padding: 0.0em;   */
}
.table-row-cell:empty{
    
    -fx-background-color:  white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}